<!-- First Container -->
<div id="discography" class="bg-1">
    <div class="container">
        <h2 class="text-center">Music List</h2>
        <div class="row text-center">
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="thumbnail">
                    <img src="http://giuda.net/bootstrap/images/discography/speaks-evil.png" alt="speakc-evil"
                        width="400" height="300">
                    <p><strong>SPEAKS EVIL</strong></p>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#speaksevil">Details</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="thumbnail">
                    <img src="http://giuda.net/bootstrap/images/discography/roll-the-balls.png" alt="roll-the-balls"
                        width="400" height="300">
                    <p><strong>ROLL THE BALLS</strong></p>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#rolltheballs">Details</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="thumbnail">
                    <img src="http://giuda.net/bootstrap/images/discography/let-s-do-it-again.png"
                        alt="let-s-do-it-again" width="400" height="300">
                    <p><strong>LET'S DO IT AGAIN</strong></p>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#letsdoitagain">Details</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="thumbnail">
                    <img src="http://giuda.net/bootstrap/images/discography/yellow-dash.png" alt="YELLOW DASH"
                        width="400" height="300">
                    <p><strong>YELLOW DASH</strong></p>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#yellowdash">Details</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="thumbnail">
                    <img src="http://giuda.net/bootstrap/images/discography/teenage-rebel.png" alt="TEENAGE REBEL"
                        width="400" height="300">
                    <p><strong>TEENAGE REBEL</strong></p>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#teenagerebel">Details</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="thumbnail">
                    <img src="http://giuda.net/bootstrap/images/discography/wild-tiger-woman.png" alt="WILD TIGER WOMAN"
                        width="400" height="300">
                    <p><strong>TIGER WOMAN</strong></p>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#wildtigerwoman">Details</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="thumbnail">
                    <img src="http://giuda.net/bootstrap/images/discography/racey-roller.png" alt="RACEY ROLLER"
                        width="400" height="300">
                    <p><strong>RACEY ROLLER</strong></p>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#raceyroller">Details</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="thumbnail">
                    <img src="http://giuda.net/bootstrap/images/discography/get-it-over.png" alt="GET IT OVER"
                        width="400" height="300">
                    <p><strong>GET IT OVER</strong></p>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#getitover">Details</button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="thumbnail">
                    <img src="http://giuda.net/bootstrap/images/discography/number-10.png" alt="NUMBER 10" width="400"
                        height="300">
                    <p><strong>NUMBER 10</strong></p>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#number10">Details</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="speaksevil" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4><span class="glyphicon glyphicon-flash"></span> Speaks Evil</h4>
                </div>
                <div class="modal-body">
                    <ul style="list-style: none;">
                        <img title="SPEAKS EVIL" alt=""
                            src="http://giuda.net/bootstrap/images/discography/speaks-evil.png">
                        <p></p>
                        <li><strong>Graphyc</strong> : <a href="https://crazeekids-music.blogspot.it/">Tony
                                CrazeeKid</a></li>
                    </ul>
                    <ul style="list-style: none;">
                        <li><iframe src="https://embed.spotify.com/?uri=spotify:album:1b3vwBDlOA8AsxTOlZdvFQ"
                                height="400" width="300" frameborder="0"></iframe></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn btn-danger-danger btn btn-danger-default pull-left"
                        data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="rolltheballs" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4><span class="glyphicon glyphicon-flash"></span> Roll The Balls</h4>
                </div>
                <div class="modal-body">
                    <ul style="list-style: none;">
                        <img title="SPEAKS EVIL" alt="" src="images/discography/roll-the-balls.png">
                        <p></p>
                        <li><strong>Graphyc</strong> : <a href="https://crazeekids-music.blogspot.it/">Tony
                                CrazeeKid</a></li>
                    </ul>
                    <ul style="list-style: none;">
                        <li><iframe
                                src="https://embed.spotify.com/?uri=https://play.spotify.com/album/68CbzrV46KUvmcsRmHfiuH"
                                height="400" width="300" frameborder="0"></iframe></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn btn-danger-danger btn btn-danger-default pull-left"
                        data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="letsdoitagain" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4><span class="glyphicon glyphicon-flash"></span> Let's do it again</h4>
                </div>
                <div class="modal-body">
                    <ul style="list-style: none;">
                        <img title="SPEAKS EVIL" alt=""
                            src="http://giuda.net/bootstrap/images/discography/let-s-do-it-again.png">
                        <p></p>
                        <li><strong>Graphyc</strong> : <a href="https://crazeekids-music.blogspot.it/">Tony
                                CrazeeKid</a></li>
                    </ul>
                    <ul style="list-style: none;">
                        <li><iframe src="https://embed.spotify.com/?uri=spotify:album:2odPi94wiU7w4zLlQLimFH"
                                height="400" width="300" frameborder="0"></iframe></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn btn-danger-danger btn btn-danger-default pull-left"
                        data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="yellowdash" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4><span class="glyphicon glyphicon-flash"></span> Yellow Dash</h4>
                </div>
                <div class="modal-body">
                    <ul style="list-style: none;">
                        <img title="SPEAKS EVIL" alt=""
                            src="http://giuda.net/bootstrap/images/discography/yellow-dash.png">
                        <p></p>
                        <li><strong>Graphyc</strong> : <a href="https://crazeekids-music.blogspot.it/">Tony
                                CrazeeKid</a></li>
                    </ul>
                    <ul style="list-style: none;">
                        <li><iframe
                                src="https://embed.spotify.com/?uri=https://play.spotify.com/album/1nSksckNae73rwg3sanxiB"
                                height="400" width="300" frameborder="0"></iframe></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn btn-danger-danger btn btn-danger-default pull-left"
                        data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="teenagerebel" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4><span class="glyphicon glyphicon-flash"></span> Teenage Rebel</h4>
                </div>
                <div class="modal-body">
                    <ul style="list-style: none;">
                        <img title="SPEAKS EVIL" alt=""
                            src="http://giuda.net/bootstrap/images/discography/teenage-rebel.png">
                        <p></p>
                        <li><strong>Graphyc</strong> : <a href="https://crazeekids-music.blogspot.it/">Tony
                                CrazeeKid</a></li>
                    </ul>
                    <ul style="list-style: none;">
                        <li><iframe
                                src="https://embed.spotify.com/?uri=https://play.spotify.com/album/68TtJRB7LjtMj35wX38ueH"
                                height="400" width="300" frameborder="0"></iframe></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn btn-danger-danger btn btn-danger-default pull-left"
                        data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="wildtigerwoman" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4><span class="glyphicon glyphicon-flash"></span> Wild Tiger Woman</h4>
                </div>
                <div class="modal-body">
                    <ul style="list-style: none;">
                        <img title="SPEAKS EVIL" alt=""
                            src="http://giuda.net/bootstrap/images/discography/wild-tiger-woman.png">
                        <li><strong>Graphyc</strong> : <a href="https://crazeekids-music.blogspot.it/">Tony
                                CrazeeKid</a></li>
                    </ul>
                    <ul style="list-style: none;">
                        <li><iframe
                                src="https://embed.spotify.com/?uri=https://play.spotify.com/album/1n31DQ7thmcwT43sf1Syo6"
                                height="400" width="300" frameborder="0"></iframe></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn btn-danger-danger btn btn-danger-default pull-left"
                        data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="raceyroller" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4><span class="glyphicon glyphicon-flash"></span> Racey Roller</h4>
                </div>
                <div class="modal-body">
                    <ul style="list-style: none;">
                        <img title="SPEAKS EVIL" alt=""
                            src="http://giuda.net/bootstrap/images/discography/racey-roller.png">
                        <li><strong>Graphyc</strong> : <a href="https://crazeekids-music.blogspot.it/">Tony
                                CrazeeKid</a></li>
                    </ul>
                    <ul style="list-style: none;">
                        <li><iframe
                                src="https://embed.spotify.com/?uri=https://play.spotify.com/album/1eQLoTzWjV58iYXVz8qOan"
                                height="400" width="300" frameborder="0"></iframe></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn btn-danger-danger btn btn-danger-default pull-left"
                        data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="getitover" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4><span class="glyphicon glyphicon-flash"></span> Get It Over</h4>
                </div>
                <div class="modal-body">
                    <ul style="list-style: none;">
                        <img title="SPEAKS EVIL" alt=""
                            src="http://giuda.net/bootstrap/images/discography/get-it-over.png">
                        <p></p>
                        <li><strong>Graphyc</strong> : <a href="https://crazeekids-music.blogspot.it/">Tony
                                CrazeeKid</a></li>
                    </ul>
                    <ul style="list-style: none;">
                        <li><iframe
                                src="https://embed.spotify.com/?uri=https://play.spotify.com/track/6FWM19dqeAsF2AtmNiyj1s"
                                height="400" width="300" frameborder="0"></iframe></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn btn-danger-danger btn btn-danger-default pull-left"
                        data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="number10" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4><span class="glyphicon glyphicon-flash"></span> Number 10</h4>
                </div>
                <div class="modal-body">
                    <ul style="list-style: none;">
                        <img title="SPEAKS EVIL" alt=""
                            src="http://giuda.net/bootstrap/images/discography/number-10.png">
                        <p></p>
                        <li><strong>Graphyc</strong> : <a href="https://crazeekids-music.blogspot.it/">Tony
                                CrazeeKid</a></li>
                    </ul>
                    <ul style="list-style: none;">
                        <li><iframe
                                src="https://embed.spotify.com/?uri=https://play.spotify.com/track/3GGfoXYkXwG8PG92JsURhn"
                                height="400" width="300" frameborder="0"></iframe></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn btn-danger-danger btn btn-danger-default pull-left"
                        data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span> Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>